.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-100%);
	animation-name: upToDown;
	animation-duration: 0.35s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.header__contacts {
    display: flex;
}

.header__whatsapp-icon {
	width: 35px;
	height: 35px;
	background-image: url('images/header/whatsapp.svg');
	background-size: contain;
}

@keyframes upToDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
