nav.nav-menu
    ul.nav-menu__list
        li.nav-menu__item
            a(href="/") Главная
        li.nav-menu__item
            a(href="/about") Обо мне
        li.nav-menu__item
            a(href="/works") Мои работы
        li.nav-menu__item
            a(href="/contacts") Контакты