/* Variables */

// font family
$fontFamilyMain: 'Besom', 'Arial', sans-serif;
$fontFamilySecond: 'Playfair Display', 'Times New Roman', serif;
$fontFamilyThird: 'Cormorant Infant', 'Times New Roman', serif;

// font sizes
$fontSizeExtraLarge: 72px;
$fontSizeXXL: 42px;
$fontSizeXL: 34px;
$fontSizeL: 28px;
$fontSizeMXL: 24px;
$fontSizeML: 18px;
$fontSizeM: 16px;
$fontSize: 14px;
$fontSizeS: 13px;
$fontSizeXS: 12px;
$fontSizeXXS: 11px;
$fontSizeXXXS: 10px;

// bg colors
$white: #fff;
$black: #000;
$orangeBG: #f1921d;
$secondBG: #a05648;
$thirdBG: #35754b;
$attentionBG: #334e68;

$bgGradientLeft: rgba(241, 146, 29, 0.9);
$bgGradientCenter: rgba(254, 93, 0, 0.6);
$bgGradientRight: rgba(231, 46, 8, 0.9);
