/* Variables */

// font family
$fontFamilyMain: 'Playfair Display', 'Times New Roman', serif;
$fontFamilySecond: 'Cormorant Infant', 'Times New Roman', serif;

// font sizes
$fontSizeXXL: 42px;
$fontSizeXL: 34px;
$fontSizeL: 28px;
$fontSizeMXL: 24px;
$fontSizeML: 18px;
$fontSizeM: 16px;
$fontSize: 14px;
$fontSizeS: 13px;
$fontSizeXS: 12px;
$fontSizeXXS: 11px;
$fontSizeXXXS: 10px;


// bg colors
$white: #fff;
$black: #000;
$firstBG: #A07C48;
$secondBG: #A05648;
$thirdBG: #35754B;
$attentionBG: #334E68;
