<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <form action="/auth/register" method="post">
        <p><label>firstname: <input type="text" name="firstname" /></label></p>
        <p><label>lastname: <input type="text" name="lastname" /></label></p>
        <p><label>email: <input type="email" name="email" /></label></p>
        <p><label>phone: <input type="phone" name="phone" /></label></p>
        <p><label>Password: <input type="password" name="password" /></label></p>
        <p><button type="submit">Register</button></p>
    </form>
</body>

</html>