@import './utils/variables.scss';
@import './utils/normalize.scss';
@import './header/header.scss';
@import './page/page.scss';
@import './utils/fonts.scss';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: $fontFamilySecond;
}

.footer {
	margin-top: auto;
}

button {
	font-family: $fontFamilyMain;
}
