@import './utils/variables.scss';
@import './utils/normalize.scss';
@import './i-header/i-header.scss';
@import './l-home/l-home.scss';
@import './utils/fonts.scss';

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	font-family: $fontFamilySecond;
}

.footer {
	margin-top: auto;
}

button {
	font-family: $fontFamilyMain;
}