.nav-menu {
    display: flex;
    width: 100%;
}

.nav-menu__list {
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-menu__item {
    font-family: $fontFamilyMain;
}
