.home__text-section
    h1.home__title= homeBannerTitle
    p.home__subtitle= homeBannerSubtitle
    .home__leaf.home__leaf_title
.home__image-section
    .main-logo__container
        img(src="/images/home/squirrel.png").main-logo
.home__leaf.home__leaf_left_top
.home__leaf.home__leaf_right_bottom