.title-banner
    .title-banner__text-section
        h1.title-banner__title= homeBannerTitle
        p.title-banner__subtitle= homeBannerSubtitle
    .title-banner__image-section
        nav.nav-menu.title-banner__menu
            ul.nav-menu__list
                li.nav-menu__item Главная
                li.nav-menu__item Обо мне
                li.nav-menu__item Мои работы
                li.nav-menu__item Контакты
        .main-logo__container
            img(src="/images/home/squirrel.png").main-logo