@import '../b-home-banner/b-home-banner.scss';
@import '../main-logo/main-logo.scss';
@import '../nav-menu/nav-menu.scss';

.l-home {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(
		155deg,
		$bgGradientLeft 0%,
		$bgGradientCenter 50%,
		$bgGradientRight 100%
	);
}
